---
http_interactions:
- request:
    method: get
    uri: http://api.glitch.com/simple/achievements.listAll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"ok":1,"pages":52,"per_page":10,"page":1,"total":511,"items":{"1star_cuisinartist":{"name":"1-Star
        Cuisinartist","desc":"Whipped up 11 meals with an Awesome Pot","url":"http:\/\/www.glitch.com\/achievements\/1star-cuisinartist\/","image_60":"http:\/\/c2.glitch.bz\/achievements\/2011-05-09\/1star_cuisinartist_1304983461_60.png","image_180":"http:\/\/c2.glitch.bz\/achievements\/2011-05-09\/1star_cuisinartist_1304983461_180.png"},"2star_cuisinartist":{"name":"2-Star
        Cuisinartist","desc":"Whipped up 23 meals with an Awesome Pot","url":"http:\/\/www.glitch.com\/achievements\/2star-cuisinartist\/","image_60":"http:\/\/c2.glitch.bz\/achievements\/2011-05-09\/2star_cuisinartist_1304983466_60.png","image_180":"http:\/\/c2.glitch.bz\/achievements\/2011-05-09\/2star_cuisinartist_1304983466_180.png"},"2nd_rate_piggy_piggy_hash_slinge[...]
- request:
    method: get
    uri: http://api.glitch.com/simple/achievements.listAll?per_page=511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"ok":1,"pages":1,"per_page":511,"page":1,"total":511,"items":{"1star_cuisinartist":{"name":"1-Star
        Cuisinartist","desc":"Whipped up 11 meals with an A[...]
