--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.glitch.com/simple/calendar.getHolidays
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"ok\":1,\"days\":[{\"month\":1,\"day\":5,\"name\":\"AlphCon\"},{\"month\":2,\"day\":2,\"name\":\"Lemadan\"},{\"month\":3,\"day\":3,\"name\":\"Pot Twoday\"},{\"month\":4,\"day\":2,\"name\":\"Root\"},{\"month\":4,\"day\":3,\"name\":\"Root\"},{\"month\":4,\"day\":4,\"name\":\"Root\"},{\"month\":4,\"day\":11,\"name\":\"Sprinkling\"},{\"month\":6,\"day\":17,\"name\":\"Croppaday\"},{\"month\":7,\"day\":1,\"name\":\"Belabor Day\"},{\"month\":8,\"day\":37,\"name\":\"Zilloween\"},{\"month\":11,\"day\":11,\"name\":\"Recurse Eve\"}]}"
  recorded_at: Tue, 22 May 2012 03:55:06 GMT
recorded_with: VCR 2.1.1
