--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.glitch.com/simple/players.stats?oauth_token=dj0xJmk9Mjg3MzgmYz03NDZmMDYyM2M1ODQ4YmVjMGY2OWZhOTY1YWM0NTZhMw
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"ok\":1,\"level\":11,\"xp\":1160,\"xp_max\":10815,\"currants\":5659,\"energy\":242,\"energy_max\":250,\"mood\":206,\"mood_max\":250}"
  recorded_at: Tue, 22 May 2012 03:55:07 GMT
recorded_with: VCR 2.1.1
