--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.glitch.com/simple/locations.getStreets?hub_id=27
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"ok\":1,\"hub_id\":\"27\",\"name\":\"Ix\",\"streets\":{\"LM416LNIKVLM1\":{\"name\":\"Baby Steppes\"},\"LM413SQ6LRN58\":{\"name\":\"East Spice\"},\"LM410QQ0CHARO\":{\"name\":\"Flipside\"},\"LM4115NJ46G8M\":{\"name\":\"Groddle Ladder\"},\"LM4109NI2R640\":{\"name\":\"Guillermo Gamera Way\"},\"LM410TMR0S2S1\":{\"name\":\"Ruta Asuncion\"},\"LM413RQ6LRG9N\":{\"name\":\"West Spice\"}}}"
  recorded_at: Tue, 22 May 2012 03:55:10 GMT
recorded_with: VCR 2.1.1
