---
http_interactions:
- request:
    method: get
    uri: http://api.glitch.com/simple/giants.list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"ok":1,"giants":{"alph":"Alph","cosma":"Cosma","friendly":"Friendly","grendaline":"Grendaline","humbaba":"Humbaba","lem":"Lem","mab":"Mab","pot":"Pot","spriggan":"Spriggan","ti":"Tii","zille":"Zille"}}'
  recorded_at: Sun, 17 Jun 2012 07:16:50 GMT
recorded_with: VCR 2.1.1
